<!-- NAV -->
<nav>
  <a href="/" class="nav-logo"><img src="/images/cor-logo.png" alt="COR" class="nav-logo-img"></a>
  <div class="nav-links">
    <a href="/product/">Product</a>
    <a href="/pricing/">Pricing</a>
    <a href="/blog/">Blog</a>
    <a href="/#how-it-works">How it works</a>
    <a href="https://app.corgtm.com/login">Login</a>
    <a href="https://app.corgtm.com/signup" class="nav-cta">Try for free</a>
  </div>
</nav>
