---
permalink: /feed.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>COR Blog</title>
  <subtitle>Practical GTM guidance for lean B2B SaaS teams.</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/blog/"/>
  <id>{{ site.url }}/blog/</id>
  <updated>{% if collections.posts.length %}{{ collections.posts[0].date | dateRFC3339 }}{% else %}{{ page.date | dateRFC3339 }}{% endif %}</updated>
{%- for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | dateRFC3339 }}</updated>
    <summary>{{ post.data.description }}</summary>
    <author><name>{{ post.data.author }}</name></author>
  </entry>
{%- endfor %}
</feed>
